{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace trésorier</h1>
	<section id="adhesion-accueil">
		<h2 class="text-center">Modifier une adhésion</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/tresorier/adhesion/modifier.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Etapes à suivre :
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace Trésorier"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des adhésions"</li>
						<li><img src="{{asset('images/icons/step3.png')}}" alt="">
							Dans la liste cliquez sur "Modifier"</li>
						<li><img src="{{asset('images/icons/step4.png')}}" alt="">
							Apportez les modifications souhaitées</li>
						<li><img src="{{asset('images/icons/done.png')}}" alt="">
							Cliquez sur "Mettre à jour l'adhésion"</li>
					</ul>
				</p>
				<p>
					La mise à jour d'une adhésion est immédiate.
				</p>
			</div>
		</section>
	{% endblock %}
