{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace référent</h1>
	<section id="contrat-accueil">
		<h2 class="text-center">Ajouter une permanence</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/referent/permanences/ajouter.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Etapes à suivre :
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace Réferent"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des permanences"</li>
						<li><img src="{{asset('images/icons/step3.png')}}" alt="">
							Cliquez sur "Ajouter une permanence"</li>
						<li><img src="{{asset('images/icons/step4.png')}}" alt="">
							Indiquez la date</li>
						<li><img src="{{asset('images/icons/step5.png')}}" alt="">
							Indiquez le nombre de place</li>
						<li><img src="{{asset('images/icons/step6.png')}}" alt="">
							Indiquez les éventuelles informations complémentaires</li>
						<li><img src="{{asset('images/icons/done.png')}}" alt="">
							Cliquez sur "Enregistrer la permanence"</li>
					</ul>
				</p>
				<p>
					La permanence sera visible et disponible immédiatement pour tous les adhérents.
				</p>
			</p>
		</div>
	</section>
{% endblock %}
