{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace référent</h1>
	<section id="producteur-accueil">
		<h2 class="text-center">Modifier un producteur</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/referent/producteur/modifier.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Etapes à suivre :
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace Réferent"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des producteurs"</li>
						<li><img src="{{asset('images/icons/step3.png')}}" alt="">
							Cliquez sur "Modifier"</li>
					</ul>
				</p>
				<p>
					Vous pouvez modifier toutes les informations relative au producteur. Par défaut sont sélectionnées les informations enregistrées, l'adhérent qui représente le producteur, 
																														le référent et le suppléant sont ceux qui ont été associé au producteur lors de sa création. Une fois modifié,
					<img src="{{asset('images/icons/done.png')}}" alt="">
					Cliquez sur "Mettre à jour"
					<br>
					<img src="{{asset('images/icons/alert.png')}}" alt="">

					Attention : Les modifications apportées seront répercutées sur l'ensemble des données liées à ce producteur.


				</p>
			</p>
		</div>
	</section>
{% endblock %}
