{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace référent</h1>
	<section id="produit-accueil">
		<h2 class="text-center">Supprimer un produit</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/referent/produit/supprimer.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Etapes à suivre :
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace Réferent"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des produits"</li>
						<li><img src="{{asset('images/icons/step3.png')}}" alt="">
							Dans la liste des produits cliquez sur "Supprimer"</li>
						<li><img src="{{asset('images/icons/done.png')}}" alt="">
							Cliquez sur "Confirmer" ou "Annuler</li>
					</ul>
				</p>
				<p>
					<img src="{{asset('images/icons/alert.png')}}" alt="">
					Seul les produits liés à aucun contrat producteur pourront être supprimé. Dans le cas contraire le bouton "supprimer" n'apparaît pas.

				</p>
			</p>
		</div>
	</section>
{% endblock %}
