{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace référent</h1>
	<section id="producteur-accueil">
		<h2 class="text-center">Le listing des adhérents</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/referent/adherent/supprimer.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace Réferent"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des adhérents"</li>
						<li><img src="{{asset('images/icons/step3.png')}}" alt="">
							Cliquez sur "Consulter"</li>
						<li><img src="{{asset('images/icons/step4.png')}}" alt="">
							Cliquez sur "supprimer" en bas à gauche</li>
					</ul>
					Une nouvelle fenêtre apparaît
					<img src="{{asset('images/icons/step5.png')}}" alt="">
					Cliquez sur "Confirmer" ou "Annuler". Vous pouvez supprimer uniquement les adhérents n'ayant pas de contrat adhérent actifs ou en cours. En effet si un adhérent 
																				                    est affilié à un contrat (même archivé) celui-ci doit être conservé dans la base.
				</p>
			</div>
		</div>
	</section>
{% endblock %}
