{% extends "base.html.twig" %}

{% block page %}
	<h1 class="text-center">Espace Administrateur</h1>
	<section id="admin-compte">
		<h2 class="text-center">Gestion des rôles utilisateurs</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<video width="640" height="360" controls>
					<source src="{{asset('images/videos/admin/supprimer.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="mt-5">
					Etapes à suivre :
					<ul>
						<li><img src="{{asset('images/icons/step1.png')}}" alt="">
							Cliquez sur l'onglet "Espace administrateur"</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des référents"</li>
						<li>OU</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des référents"</li>
						<li>OU</li>
						<li><img src="{{asset('images/icons/step2.png')}}" alt="">
							Cliquez sur "Gestion des référents"</li>
						<li>OU</li>
						<li><img src="{{asset('images/icons/step3.png')}}" alt="">
							Dans la liste cliquez sur "Supprimer"</li>
						<li><img src="{{asset('images/icons/done.png')}}" alt="">
							Cliquez sur "Confirmer" ou "Annuler"</li>
					</ul>
				</p>
				<p class="mt-5">
					Seul le rôle est modifié. La suppression du rôle n'entraîne pas la suppression de l'adhérent. Le référent, trésorier ou administrateur, 
										                    redevient un simple adhérent.
				</p>
			</div>
		</div>
	</section>
{% endblock %}
